*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    border-bottom: 1px solid rgb(113, 113, 113);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
    padding: 10px;
    height: 5rem;
}
.headerleft{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
   color: rgb(94, 93, 93);
   font-size: 20px;
}
#headerbutton{
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logotext{
    font-size: 23px;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin-left: 2rem;
    margin-bottom: 10rem;
    background-color: white;
}
.headerright{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;    
}
a{
    text-decoration: none;
}
#moretools{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: rgb(98, 97, 97);
    font-size: 17px;
}
#signin{
    border: none;
    background-color: transparent;
    font-size: 17px;

}
#goto{
    border-color: rgb(245, 241, 241);
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   background-color: transparent;
   border-radius:0.3rem;
   font-size: 17px;
   text-decoration: none;
   
}
#trydocs{
    background-color: rgb(44, 125, 191);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius:0.2rem;  
    margin-right:1rem;
    font-size: 17px;
    
}
#trydocscolor{
    color: white;
    
}
#signupforfree{
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    color: rgb(82, 82, 230);
    display: flex;
}
.maincon{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 50px;
}
.mainpara{
    display: flex;
    justify-content: center;
    font-size: 17px;
    margin-top: 1rem;
}
.main2{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
#main2{
    padding-top: 2rem;
}
.button2{
  display: flex;
  justify-content: center;
}
#trydocscolor{
    font-size: 17px;
    text-decoration: none;
}
#bottomborder{
    border-bottom: 1px solid grey;
}
.more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
     background-color: transparent;
     border: none;
     margin-left: 40%;
}

.seamless{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-right: 20%;
    gap: 1rem;
}
#seamless{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding-top: 5rem;
}
#seamless1{
    width: 70%;
    margin-left: 30%;
}
#h2{
    margin-right: 90px;
}
#faster{
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#faster1{
    width: 40%;
  margin-left: 20%;
}
.faster{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
}
.consulting1{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}
#consulting{
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bring1{
    display: flex;
    flex-direction: column;
    margin-left: 25rem;
}
#bring2{
    width: 80%;
   margin-right: 10rem;
}
#bring{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10rem;
}
.lists{
    background-color: rgb(249, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    gap: 0.5rem;
}
.list{
    margin-top: 10rem;
    background-color:  rgb(249, 248, 248);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left:15rem ;
    margin-right: 15rem;
}
